*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Arial, sans-serif;
}
body{
    background:#fafafa;
}
.insta{
    display:flex;
    width:100%;
    height:100vh;
}
.left{
    width:50%;
    background:white;
    padding:60px;
}
.logo{
    width:70px;
    margin-bottom:40px;
}
.left h1{
    font-size:32px;
    font-weight:300;
}
.left h2{
    font-size:32px;
}
.left span{
    color:#e1306c;
}
.image{
    width:300px;
    margin-top:40px;
}
.right{
    width:50%;
    display:flex;
    flex-direction:column;
    justify-content:center;
    padding:60px;
}
.right h2{
    margin-bottom:20px;
}
.right input{
    padding:12px;
    margin-bottom:12px;
    border:1px solid #ccc;
    border-radius:5px;
    font-size:14px;
}
.login-button{
    background:#4cb5f9;
    border:none;
    padding:12px;
    color:white;
    border-radius:20px;
    font-size:15px;
    cursor:pointer;
}
.forgot{
    margin:15px 0;
    text-align:center;
    text-decoration:none;
    color:#1877f2;
}
.facebook-button{
    background:#4267B2;
    color:white;
    border:none;
    padding:12px;
    border-radius:20px;
    margin-bottom:10px;
    cursor:pointer;
}
.create-button{
    background:white;
    border:1px solid #915959;
    padding:12px;
    border-radius:20px;
    cursor:pointer;
}
.meta{
    text-align:center;
    margin-top:30px;
    color:gray;
}